.filter{
    min-width: 200px;
    background-color: white;
    padding: 16px 20px;
    height: 100%;
}

.filter .filter-box h3{
    font-size: 14px;
    font-weight: normal;
    padding: 3px 0;
}

.filter .filter-box ul li{
    padding: 3px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.filter .filter-box ul li input {
    margin-right: 6px;
    cursor: pointer;
}

