.filter{
    width: 100%;
    background-color: white;
    height: 100%;
}

.filter .filter-box h3{
    font-size: 14px;
    font-weight: normal;
    padding: 3px 0;
}

.filter .filter-box ul .selected {
    color: var(--blue);
    text-decoration: underline;

}
.filter .filter-box ul li{
    padding: 3px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.filter .filter-box ul li input {
    margin-right: 6px;
    cursor: pointer;
}

.sidebar-container{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .filter{    
        min-width: 200px;
        max-width: 200px;
    }

    .sidebar-container{
        width: unset;
    }
}


